@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap');

:root {
    --main: #9ef01a;
    --main2: #00a5cf;
    --secondary: #ef476f;
    --white: #f4f4f4;
    --text-dark: #333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: #333 !important;
}

.btn:focus {
    border: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #fe86c286;
    box-shadow: 0 0 0 .25rem #ef476ec0;
}

/* STYLES */
/* Header */
.main-header {
    background-color: var(--main);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}

.main-header form {
    flex-wrap: nowrap;
    max-width: 500px;
}

.header-logo * {
    font-size: 3rem;
    font-family: 'Bungee', cursive;
    color: #333;
}

.header-logo .logo-club {
    color: var(--secondary);
}

.login input {
    min-width: 100px;
}

.login .btn {
    padding: 2px 1rem;
    font-size: .9rem;
}

.login .btn-login {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}

.login .btn-signup {
    background-color: transparent;
    white-space: nowrap;
    color: var(--secondary);
    padding: 0;
}

.login .btn-login:hover {
    background-color: #333;
    border: 2px solid #333;
    color: white;
}

.text-exclusive {
<<<<<<< HEAD
    color: #333;
}

.text-basic {
    color: red;
=======
    background-color: blue;
>>>>>>> 4db401925b08006f2ee6e57dad47e72e799abe0b
}

/* Sign Up */
.signup {
    width: 500px;
}

/* MESSAGES */
/* index */
.message-card {
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .25);
    width: 400px;
    background-color: var(--secondary);
    
}

.message-card .card-body {
    padding: .5rem;
    background-color: #fff;
}

.message-author, .message-time {
    color: #444;
    font-size: .8rem;
}

.btn-delete {
    background-color: var(--secondary);
    background-color: transparent;
    color: red;
    padding: 1px 3px;
}

.btn-new-msg {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--secondary);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.btn-new-msg > .material-icons {
    font-size: 3rem;
}

/* message form */
.message-form {
    width: 500px;
}

.message-textarea {
    height: 150px;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
    /* Header */
    .header-logo {
        font-size: 2rem;
    }

    .login input {
        min-width: 75px;
    }
}

@media (max-width: 575px) {
    /* Header */
    .login input {
        min-width: 50px;
        max-width: 100px;
    }

    .login > div {
        padding-right: 4px;
        padding-left: 4px;
    }

    /* MESSAGES */
    /* index */
    .message-card {
        width: 95vw;
    }

    /* Sign Up */
    .signup {
        width: 100%;
    }

    .signup > .form-group {
        flex-direction: column;
        align-items: center;
    }

    .signup > .form-group > div {
        min-width: 80% !important;
    }

    .signup #first_name {
        margin-bottom: 1rem;
    }

    .signup #signup_password {
        margin-bottom: 1rem;
    }

    .btn-submit-signup {
        display: block;
        margin: 0 auto;
    }

    /* message form */
    .message-form {
        width: 100%;
    }

    .message-textarea {
        height: 200px;
    }
}

@media (max-width: 359px) {
    .login input {
        width: 75px;
        font-size: .8rem;
    }
}